[submodule "BonDriverProxyEx"]
	path = BonDriverProxyEx
	url = ../BonDriverProxyEx.git
[submodule "CasProcessor"]
	path = CasProcessor
	url = ../CasProcessor.git
[submodule "DTV-Builds"]
	path = DTV-Builds
	url = ../DTV-Builds.git
[submodule "EDCB"]
	path = EDCB
	url = ../EDCB.git
[submodule "fdk-aac"]
	path = fdk-aac
	url = ../fdk-aac.git
[submodule "LAVFilters"]
	path = LAVFilters
	url = ../LAVFilters.git
[submodule "libaribb25"]
	path = libaribb25
	url = git@gitlab.com:takahiro-itou-dtv/libaribb25.git
