[submodule "BonDriverProxyEx"]
	path = BonDriverProxyEx
	url = ../BonDriverProxyEx.git
[submodule "CasProcessor"]
	path = CasProcessor
	url = ../CasProcessor.git
[submodule "DTV-Builds"]
	path = DTV-Builds
	url = ../DTV-Builds.git
[submodule "EDCB"]
	path = EDCB
	url = git@gitlab.com:takahiro-itou-dtv/EDCB.git
